{{ define "main" }}

        <section class="hero">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4 class="light">About SkillDevelopers</h4>
                    </div>
                </div>
            </div>
        </section>

        <section class="intro">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!--<h4>About SkillDevelopers</h4>-->

                        <p class="intro-text">
                            We have more than two decades of experience in the education and training field and have built meaningful partnerships with accomplished training experts. We have built and maintained relationships based on trust and honesty.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <p class="light">
                            We will always be honest and respectful; our clients can count on us to be ready to help whenever we’re needed.
                            Customers’ success is our success and our values enable us to put the client first, creating a concrete
                            partnership to ensure a holistic, creative, and efficient approach.
                        </p>
                    </div>

                    <div class="col-lg-4">
                        <p class="light">
                            We offer our services around the clock. At the very least,
                            we strive to respond to our clients within 24 hours after they contact us.
                            This way, we can quickly address all your concerns. No matter the requests, we are ready to give 110% to fulfill them.
                        </p>
                    </div>

                    <div class="col-lg-4">
                        <p class="light">
                            Our team aims to create a place where people could come and work in the best way they know how.
                            Whether they are good at sales, operations, or other areas, we want them to pursue what they love and enjoy doing.
                        </p>

                        <p class="normal">
                            <a href="#">View Our Careers</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="ethic">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="normal">
                            Business ethics and morality are the backbone of this industry.
                            To become successful in our field, we work hard to gain the trust of our clients.
                            Since our mission is to have all our clients and instructors believe and rely on us,
                            we always deliver on our promise. We work day and night to make sure that everything will go as planned.
                            We do what is right for our instructors, partners, and clients. Should any problem arise,
                            we are ready to take full accountability.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="ethic">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                    <div class="search" id="search">
                      <input type="text" placeholder="Search site..." v-model="txt" @keyup="search()" @blur="close()" maxlength="50">
                      <div class="search-results" :style="{'display': showresult?'block':'none'}">
                          <a v-for="item in result" :href="item.url">{{ printf "{{ item.title }}" }}</a>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
      </section>

        {{ end }}