<!doctype html>
<html lang="en-us">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {{ block "title" . }} {{ .Title}}{{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }} {{ end }}
          </title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/brands.css" integrity="sha384-QT2Z8ljl3UupqMtQNmPyhSPO/d5qbrzWmFxJqmY7tqoTuT2YrQLEqzvVOP2cT5XW" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/styles.min.css" type="text/css" />
        <meta name="last-modified" content="{{ now.Format "2006-01-02"}}">
    </head>
    <body class="{{ .Params.Page_Class }}">
      {{ block "nav" . }} {{ partial "nav.html" . }} {{ end }}

      {{ block "body" . }} {{ block "main" . }} {{ end }} {{ end }}

      {{ block "footer" . }} {{ partial "footer.html" . }} {{ end }}

      {{ block "scripts" . }} {{ partial "scripts.html" . }}{{ end }}
    </body>
</html>