{{ define "main" }}
        
        <section class="hero">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4 class="light">Courses on: Open Source</h4>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="courses-list">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <form class="search-form">
                            <div class="row">
                                <div class="col-xl-8 main-column">
                                    <input type="search" name="search" class="border-bottom" placeholder="FIND A COURSE QUICKLY BY SEARCHING HERE...">
                                </div>
                                
                                <div class="col-xl-4 sidebar form-sidebar">
                                    <input type="submit"  class="button rounded-borders green-bg" value="Find Now">
                                </div>
                            </div>
                        </form>
                        
                        <div class="course-overview">
                            <h6 class="light browse-courses">Open Source Courses</h6>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12 courses-list1">
                        <div class="course-outer">
                            <p class="course-shortly">
                                <span class="course-title semibold">Open Source Title </span>
                                <span class="prerequisetes">
                                    <span class="semibold">Prerequisetes:</span> 
                                    <span class="prerequisetes-text light">None</span>
                                </span>
                                <span class="delivery">
                                    <span class="semibold">Delivery:  </span>
                                    <span class="delivery-text light">Instructor-led  - 100% Lecture</span>
                                </span>
                            </p>
                            
                            <p class="course-description normal">
                                In this one day Internet of Things (IoT) and Blockchain training you will learn more about two 
                                of the most exciting paradigms in emerging technology.
                            </p>
                        </div>
                        
                        <div class="course-outer">
                            <p class="course-shortly">
                                <span class="course-title semibold">Open Source Title </span>
                                <span class="prerequisetes">
                                    <span class="semibold">Prerequisetes:</span> 
                                    <span class="prerequisetes-text light">None</span>
                                </span>
                                <span class="delivery">
                                    <span class="semibold">Delivery:  </span>
                                    <span class="delivery-text light">Instructor-led  - 100% Lecture</span>
                                </span>
                            </p>
                            
                            <p class="course-description normal">
                                In this one day Internet of Things (IoT) and Blockchain training you will learn more about two 
                                of the most exciting paradigms in emerging technology.
                            </p>
                        </div>
                        
                        <div class="course-outer">
                            <p class="course-shortly">
                                <span class="course-title semibold">Open Source Title </span>
                                <span class="prerequisetes">
                                    <span class="semibold">Prerequisetes:</span> 
                                    <span class="prerequisetes-text light">None</span>
                                </span>
                                <span class="delivery">
                                    <span class="semibold">Delivery:  </span>
                                    <span class="delivery-text light">Instructor-led  - 100% Lecture</span>
                                </span>
                            </p>
                            
                            <p class="course-description normal">
                                In this one day Internet of Things (IoT) and Blockchain training you will learn more about two 
                                of the most exciting paradigms in emerging technology.
                            </p>
                        </div>
                        
                        <div class="course-outer">
                            <p class="course-shortly">
                                <span class="course-title semibold">Open Source Title </span>
                                <span class="prerequisetes">
                                    <span class="semibold">Prerequisetes:</span> 
                                    <span class="prerequisetes-text light">None</span>
                                </span>
                                <span class="delivery">
                                    <span class="semibold">Delivery:  </span>
                                    <span class="delivery-text light">Instructor-led  - 100% Lecture</span>
                                </span>
                            </p>
                            
                            <p class="course-description normal">
                                In this one day Internet of Things (IoT) and Blockchain training you will learn more about two 
                                of the most exciting paradigms in emerging technology.
                            </p>
                        </div>
                        
                        <div class="course-outer">
                            <p class="course-shortly">
                                <span class="course-title semibold">Open Source Title </span>
                                <span class="prerequisetes">
                                    <span class="semibold">Prerequisetes:</span> 
                                    <span class="prerequisetes-text light">None</span>
                                </span>
                                <span class="delivery">
                                    <span class="semibold">Delivery:  </span>
                                    <span class="delivery-text light">Instructor-led  - 100% Lecture</span>
                                </span>
                            </p>
                            
                            <p class="course-description normal">
                                In this one day Internet of Things (IoT) and Blockchain training you will learn more about two 
                                of the most exciting paradigms in emerging technology.
                            </p>
                        </div>
                        <div class="course-outer">
                            <p class="course-shortly">
                                <span class="course-title semibold">Open Source Title </span>
                                <span class="prerequisetes">
                                    <span class="semibold">Prerequisetes:</span> 
                                    <span class="prerequisetes-text light">None</span>
                                </span>
                                <span class="delivery">
                                    <span class="semibold">Delivery:  </span>
                                    <span class="delivery-text light">Instructor-led  - 100% Lecture</span>
                                </span>
                            </p>
                            
                            <p class="course-description normal">
                                In this one day Internet of Things (IoT) and Blockchain training you will learn more about two 
                                of the most exciting paradigms in emerging technology.
                            </p>
                        </div>
                        
                        <div class="course-outer">
                            <p class="course-shortly">
                                <span class="course-title semibold">Open Source Title </span>
                                <span class="prerequisetes">
                                    <span class="semibold">Prerequisetes:</span> 
                                    <span class="prerequisetes-text light">None</span>
                                </span>
                                <span class="delivery">
                                    <span class="semibold">Delivery:  </span>
                                    <span class="delivery-text light">Instructor-led  - 100% Lecture</span>
                                </span>
                            </p>
                            
                            <p class="course-description normal">
                                In this one day Internet of Things (IoT) and Blockchain training you will learn more about two 
                                of the most exciting paradigms in emerging technology.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        {{ end }}