{{ define "main" }}
        
        <section class="hero">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4 class="light">Our Courses</h4>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="courses-list">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <form class="search-form">
                            <div class="row">
                                <div class="col-xl-8 main-column">
                                    <input type="search" name="search" class="border-bottom" placeholder="FIND A COURSE QUICKLY BY SEARCHING HERE...">
                                </div>
                                
                                <div class="col-xl-4 sidebar form-sidebar">
                                    <input type="submit"  class="button rounded-borders green-bg" value="Find Now">
                                </div>
                            </div>
                        </form>
                        
                        <div class="course-overview">
                            <h6 class="light browse-courses">Browse Courses Below</h6>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xl-8 main-column">
                        <div class="table-container">
                            <table class="table table-striped table-borderless">
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="#" class="grey course">Java Training</a>
                                        </td>
                                        <td>
                                            <a href="#" class="grey courses">13 Courses</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="grey course">Big Data</a>
                                        </td>
                                        <td>
                                            <a href="#" class="grey courses">13 Courses</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="grey course">Agile Develpoment</a>
                                        </td>
                                        <td>
                                            <a href="#" class="grey courses">13 Courses</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="grey course">ITIL</a>
                                        </td>
                                        <td>
                                            <a href="#" class="grey courses">13 Courses</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="grey course">Web Development</a>
                                        </td>
                                        <td>
                                            <a href="#" class="grey courses">13 Courses</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="grey course">Mobile Apps</a>
                                        </td>
                                        <td>
                                            <a href="#" class="grey courses">13 Courses</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="grey course">Open Source</a>
                                        </td>
                                        <td>
                                            <a href="#" class="grey courses">13 Courses</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="grey course">DevOps</a>
                                        </td>
                                        <td>
                                            <a href="#" class="grey courses">13 Courses</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="grey course">Cloud</a>
                                        </td>
                                        <td>
                                            <a href="#" class="grey courses">13 Courses</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="grey course">DB/ SQL</a>
                                        </td>
                                        <td>
                                            <a href="#" class="grey courses">13 Courses</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="grey course">Oracle</a>
                                        </td>
                                        <td>
                                            <a href="#" class="grey courses">13 Courses</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="grey course">Administration</a>
                                        </td>
                                        <td>
                                            <a href="#" class="grey courses">13 Courses</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <aside class="col-xl-4 col-lg-12 sidebar">
                        <div class="upcoming-courses">
                            <h6 class="light">Upcoming Courses</h6>
                            
                            <ul class="no-bullets">
                                <li>
                                    <span class="event-date">11/18&nbsp;-&nbsp;</span>
                                    <a href="#">UX Design Development with ReactJS</a>
                                </li>
                                
                                <li>
                                    <span class="event-date">11/18&nbsp;-&nbsp;</span>
                                    <a href="#">Simplifying the Developer Experience</a>
                                </li>
                                
                                <li>
                                    <span class="event-date">11/18&nbsp;-&nbsp;</span>
                                    <a href="#">InDepth Angular 6</a>
                                </li>
                                
                                <li>
                                    <span class="event-date">11/18&nbsp;-&nbsp;</span>
                                    <a href="#">iOS Development Boot Camp</a>
                                </li>
                                
                                <li>
                                    <span class="event-date">11/18&nbsp;-&nbsp;</span>
                                    <a href="#">Certified Agile Developer</a>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="logos">
                            <img src="img/logo4.png" alt="Juniper logo" />
                            <img src="img/logo3.png" class="max50" alt="Docker logo" />
                            <img src="img/logo1.png" class="max50" alt="Angular logo" />
                            <img src="img/logo2.png" alt="IBM logo" />
                        </div>
                    </aside>
                </div>
            </div>
        </section>
        
        {{ end }}