{{ define "main" }}

        <section class="hero">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4 class="light">Our Expertise</h4>
                    </div>
                </div>
            </div>
        </section>

        <section class="intro">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!--<h4>The SkillDevelopers Approach</h4>-->

                        <p class="intro-text">
                          Our instructors are the best in their fields. Most if not all are certified in different areas by authorized training providers, including but not limited to Scrum, Project Management, ITIL, Oracle and many more.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="light">
                          We partner with our customers providing a tailored approach to meet their organization and educational needs.  We pair you with the right, qualified training expert based on your needs by leveraging our longstanding trusted relationship and will identify the perfect Instructor delivering custom, cutting edge training programs.
                        </p>
                    </div>

                </div>
            </div>
        </section>

        {{ partial "logos.html" . }}


        {{ end }}