{{ define "main" }}

        <section class="hero">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4 class="light">Our Approach</h4>
                    </div>
                </div>
            </div>
        </section>

        <section class="intro">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!--<h4>The SkillDevelopers Approach</h4>-->

                        <p class="intro-text">
                          We partner with our customers to holistically understand their organizations training needs and design custom solutions to meet those needs.  We have built partnerships with accomplished instructors to ensure that the right talent and content is available to address our client’s education needs.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="light">
                          Conducting a training course is time-consuming. You must search for a knowledgeable instructor, prepare an engaging course, and perform many other related tasks. We are here to take all of this off your desk and leave the tedious work to us.
                        </p>
                    </div>

                </div>
            </div>
        </section>

        {{ partial "our-process.html" . }}

        {{ end }}