{{ define "main" }}

        <section class="hero">
            <h4>Effective IT Training & Employee Development Programs</h4>
        </section>

        <section class="intro">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4>Effective IT Training & Employee Development Programs</h4>

                        <p class="intro-text">
                            An organizations greatest asset are its people.
                            We are committed to educating people today for a better tomorrow. To support the needs of your organization,
                            we offer training courses that  improve  professional skill sets helping people and their organization grow!
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!--{{ partial "upcoming-section.html" . }}-->

        {{ partial "our-process.html" . }}

        {{ partial "logos.html" . }}

        {{ partial "subscribe.html" . }}

        {{ end }}