<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="logo-container">
                    <a href="/">
                        <img src="{{ .Site.BaseURL }}/img/logo.png" alt="SkillDevelopers logo" />
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 order-small-2">
                <div class="description">
                    <h4 class="strong white">
                        Effective IT Training & <br>
                        Employee Development Programs
                    </h4>

                    <p class="white normal">
                        An organizations greatest asset are its people.
                        We are committed to educating people today for a better tomorrow.
                        To support the needs of your organization, we offer training courses that
                        improve  professional skill sets helping people and their organization grow!
                    </p>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-none d-sm-none d-md-block">
                <ul class="no-bullets links1">
                    <!--<li>
                        <a href="/courses/" class="font-normal underline">Courses</a>
                    </li>-->
                    <li>
                        <a href="{{ .Site.BaseURL }}/expertise/index.html" class="font-normal underline">Approach</a>
                    </li>
                    <li>
                        <a href="{{ .Site.BaseURL }}/sets-us-apart/index.html" class="font-normal underline">Expertise</a>
                    </li>
                    <li>
                      <a href="{{ .Site.BaseURL }}/sets-us-apart/index.html" class="font-normal underline">What Sets Us Apart</a>
                    </li>
                    <li>
                        <a href="{{ .Site.BaseURL }}/about-us/index.html" class="font-normal underline">About Us</a>
                    </li>
                    <li>
                        <a href="{{ .Site.BaseURL }}/contact-us/index.html" class="font-normal underline">Contact</a>
                    </li>
                </ul>

                <ul class="no-bullets links2">
                    <li>
                        <a href="{{ .Site.BaseURL }}/privacy/index.html" class="font-normal underline">Privacy Policy</a>
                    </li>
                   <!-- <li>
                        <a href="/legal/" class="font-normal underline">Legal</a>
                    </li>
                    <li>
                        <a href="/cookies/" class="font-normal underline">Cookies</a>
                    </li>-->
                </ul>
            </div>

            <div class="col-xl-3 col-md-6 order-small-1">
                <div class="icons-container">
                    <div class="icons-row">
                        <a href="#" class="brand-icon"><span class="fab fa-facebook-f"></span></a>
                        <a href="#" class="brand-icon"><span class="fab fa-twitter"></span></a>
                    </div>
                    <div class="icons-row">
                        <a href="#" class="brand-icon"><span class="fab fa-linkedin-in"></span></a>
                        <a href="#" class="brand-icon"><span class="fab fa-vimeo-v"></span></a>
                    </div>
                </div>

                <div class="phone-container">
                    <a href="tel:609.455.6896" class="white phone-link"><img src="{{ .Site.BaseURL }}/img/phone-icon.png" alt="Phone icon" /> 609.455.6896</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="copyright-container">
                    <p class="light white">
                        Copyright © 2018 Skill Developers - All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

