<section class="logos">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="logos-inner">
                  <img src="{{ .Site.BaseURL }}/img/logo1.png" alt="Angular logo" />
                  <img src="{{ .Site.BaseURL }}/img/logo2.png" alt="IBM logo" />
                  <img src="{{ .Site.BaseURL }}/img/logo3.png" alt="Docker logo" />
                  <img src="{{ .Site.BaseURL }}/img/logo4.png" alt="Juniper logo" />
              </div>
          </div>
      </div>
  </div>
</section>