<section class="our-process">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <h4 class="light white">Our Process</h4>

              <div class="stages-container">
                  <div class="stages two-cols">
                      <div class="col1">
                          <ul class="no-bullets">
                              <li>
                                  <span class="icon-container">
                                      <img src="{{ .Site.BaseURL }}/img/icon1.png" alt="Initial Request" />
                                  </span>

                                  <span class="text-container">Initial Request</span>
                              </li>

                              <li>
                                  <span class="icon-container">
                                      <img src="{{ .Site.BaseURL }}/img/icon3.png" alt="Qualify" />
                                  </span>

                                  <span class="text-container">Qualify</span>
                              </li>

                              <li>
                                  <span class="icon-container">
                                      <img src="{{ .Site.BaseURL }}/img/icon5.png" alt="Customize" />
                                  </span>

                                  <span class="text-container">Customize</span>
                              </li>
                          </ul>
                      </div>

                      <div class="col1">
                          <ul class="no-bullets">
                              <li>
                                  <span class="icon-container">
                                      <img src="{{ .Site.BaseURL }}/img/icon2.png" alt="Approve" />
                                  </span>

                                  <span class="text-container">Approve</span>
                              </li>

                              <li>
                                  <span class="icon-container">
                                      <img src="{{ .Site.BaseURL }}/img/icon4.png" alt="Deliver" />
                                  </span>

                                  <span class="text-container">Deliver</span>
                              </li>

                              <li>
                                  <span class="icon-container">
                                      <img src="{{ .Site.BaseURL }}/img/icon6.png" alt="Post-Course Follow Up" />
                                  </span>

                                  <span class="text-container">Post-Course Follow Up</span>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>