<section class="upcoming-courses">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <h4 class="light">Upcoming Courses</h4>
              
              <ul class="no-bullets">
                  <li>
                      <span class="event-date">11/18</span> - 
                      <a href="#">UX Design Development with ReactJS</a>
                  </li>
                  
                  <li>
                      <span class="event-date">11/18</span> - 
                      <a href="#">Simplifying the Developer Experience</a>
                  </li>
                  
                  <li>
                      <span class="event-date">11/18</span> - 
                      <a href="#">InDepth Angular 6</a>
                  </li>
                  
                  <li>
                      <span class="event-date">11/18</span> - 
                      <a href="#">iOS Development Boot Camp</a>
                  </li>
                  
                  <li>
                      <span class="event-date">11/18</span> - 
                      <a href="#">Certified Agile Developer</a>
                  </li>
              </ul>
          </div>
          
          <div class="col-lg-6">
              <h4 class="light">&nbsp;</h4>
              
              <p class="dark light">
                  <span class="semibold">Hot Topics: </span>
                  <a href="#">ReactJS</a> |
                  <a href="#">AngularJS</a> |
                  <a href="#">Docker</a> |
                  <a href="#">Agile Dev</a> |
                  <a href="#">Dev Ops</a> |
                  <a href="#">Mobile Dev</a> |
                  <a href="#">Ruby</a> |
                  <a href="#">Apache</a> |
                  <a href="#">Jira</a> |
                  <a href="#">C#</a> |
              </p>
              
              <div class="button-container">
                  <a href="#" class="button button-wide grey-bg icon-right rounded-borders">
                      <span>View All Course Offerings</span>
                      <img src="img/arrow.png" alt="Arrow" />
                  </a>
              </div>
          </div>
      </div>
  </div>
</section>